<footer class="footer  fixed-bottom shadow text-muted">
        <div class="container">
            &copy; 2022 - /Mert Başar/ - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
</footer>
