<div class="container">
  <div class="row">
    <div class="col">
      <table
      bodercoloer="Red"
      align="center"
      cellpadding="5"
      cellspacing="8"
      >

        <tr>
          <td rowspan="3">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHeYHN0qwG3IA/profile-displayphoto-shrink_800_800/0/1658912083393?e=1665014400&v=beta&t=ZNLnSjjhYh_GaCPz9bdMIzR7BWwiQHS8FrQeHyKWIlg"
            width="200"
            alt="Mert Başar"
            />
          </td>
          <td>
            <h1>Mert Başar</h1>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <hr />
          </td>
        </tr>
        <tr>
          <td>
            <h1><mark>CONTACT<mark></h1>
          </td>
          <td>
            <p><strong>Adress:</strong>Cumhuriyet mh. Akşemsettin sk. No:16 D:1</p>
          </td>
          <td>
            <p><strong>Mail: </strong><a href="mailto:mertbasar0@hotmail.com">mertbasar0@hotmail.com</a></p>
            <p><strong><a href="https://github.com/MertBasar0" target="_blank" title="Github sayfasına gider..">Github</a></strong></p>
            <p><strong>Tel:</strong> 534 815 38 28</p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <table
      align="center"
      >
        <tr>
          <td>
            <h1>My Qualifications</h1>
            <pre>
              <strong>
            I started my working life by working in the sales teams of Garanti Bank customer
                contact center, upon the offer I received 6 months before the end of my undergraduate
                education. However, I realized that I wanted to continue my life by doing a
                different job due to the nature of the job and the fields I was interested in.
                After this stage, I started taking Cisco CCNA courses over the internet in the 
                evenings and completed the entire Cisco CCNA curriculum except network security. 
                I simulated structures that can host multiple departments for small and medium-sized 
                companies via Cisco Packet Tracer.
            But I haven't taken the certification exam yet. Later, I realized that I was more interested
                in software and started to learn the Python language, which is suitable for topics such as 
                big data and machine learning. Like anyone just starting out, I've built calculators that
                can handle multiple possibilities, from simple to complex operations. I managed to write simple
                programs with functions such as extracting, sorting, saving data from lists created with
                 the patterns “for” -“while”- “if” - “else”- “elif”.
            After that, I quit my job to reach my goals faster and spent most of my time learning programming
                languages. I started to write a web-based project using SQL database with PHP. I created the SQL 
                queries by obtaining the correct database structure as a result of various trials. Software; By 
                displaying the instant number of 750 finished, semi-finished and prepared products, it can perform
                additions and subtractions via the tablets provided to the employees, and also keeps a list of the
                date and time of these transactions.
            I added a visual charting function to the software using the Google Charts service.
                At the same time, Before 4 Months ago I started to train for C#,.Net and SQL Course in Bilge Adam.
                I gained experience for Solid and OOP structures,TSQL and .Net
              </strong>
              </pre
          </td>
        </tr>
        <tr>
          <td>
            <h1>Personel Information</h1>
            <pre>
              <strong>
            Date of Birth / Place of Birth: 04.September.1994 İstanbul
            Military Service: Done
            Driving Licence: AB
            Nationality Turkish
            Languages:
            English Intermediate
              </strong>
            </pre>
          </td>
        </tr>
        <tr>
          <td>
            <h1>Education</h1>
            <pre>
              <strong>
            Public Administration                September 2013 — February 2019
                
                
            Muğla Sıtkı Koçman University
            I will also study computer programming or network science next year
              </strong>
            </pre>
          </td>
        </tr>

        <tr>
          <td>
            <h1>References</h1>
            <pre>
              <strong>
                <ul>
                  <li>Fatih Erer - Mechanical Engineer Tel: 532 510 21 58</li>
                  <li>Mustafa Mutlu - Turkcell Core Network Services Manager Tel: 549 795 29 40</li>
                </ul>
              </strong>
            </pre>
          </td>
        </tr>
      </table>
    </div>
</div>
<!-- Map -->
<h1>Map</h1>
<section id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d436.1661328967478!2d28.872993521422757!3d41.083989315127084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab03b67952c2b%3A0xc0c0225917b1bc!2sCumhuriyet%2C%20Ak%C5%9Femsettin%20Sk.%20No%3A16%2C%2034265%20Sultangazi%2F%C4%B0stanbul!5e0!3m2!1sen!2str!4v1659561144546!5m2!1sen!2str" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
</section>
