@model Entities.Concrete.Dto_s.RegisterDto

@{
    ViewData["Title"] = "Kayıt Ol!";
}

    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Giriş Yap</h4>
                    </div>
                    <div class="card-body">
                        <form asp-action="Register">
                            <div class="form-group">
                                <label asp-for="UserName" class="control-label">Kullanıcı Adı</label>
                                <input asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı" />
                                <span asp-validation-for="UserName"  class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Şifre</label>
                                <input asp-for="Password" class="form-control" placeholder="Şifre" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                             <div class="form-group">
                                <label asp-for="Mail" class="control-label">Mail</label>
                                <input asp-for="Mail" class="form-control" placeholder="Mail" />
                                <span asp-validation-for="Mail" class="text-danger"></span>
                            </div>
                            <div class="card-footer">
                                <input type="submit" class="btn btn-sm btn-outline-success float-md-start" value="Kayıt Ol" />
                                <a asp-action="Login"  class="btn btn-group-sm btn-outline-primary float-lg-end">Giriş Yap</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>